body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    gap: 3%; /* Увеличиваем расстояние между карточками */
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25vw; /* Увеличиваем ширину до 25% от ширины экрана */
    height: 50vw; /* Увеличиваем высоту до 50% от ширины экрана */
    max-width: 250px; /* Ограничиваем максимальную ширину */
    max-height: 500px; /* Ограничиваем максимальную высоту */
    perspective: 1000px;
    position: relative;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden; /* Скрываем лишнее изображение */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .front img, .card .back img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабируем изображение */
}

.card .back {
    transform: rotateY(180deg);
}

/* Переворот карточек */
.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back 
